[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
pysub-parser = "*"
pysrt = "*"
ffmpeg = "*"
install = "*"
cchardet = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.9"
